#loading-div {
    z-index: 1060;
    background-color: rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.preloader {
    position:relative;
    top: 50%;
    left: 50%;
}

.modal {
    display: none;
}

.fuelux .nav li {
    line-height: 30px;
}
