{% extends 'base.html' %}
{% block head_inject %}
    <style>
        /* For the error and warning message when the user selects a(n) (possibly) inappropriate
           file. They're hidden by default, and only shown when required. */
        .upload-error { display: none; }
        .upload-warning { display: none; }

        /* For the list of errored/warned files in the previously-mentioned box. */
        div.alert ul { padding-top: 15px; }

        /* For the button in the previously-mentioned box. */
        .fuelux .alert .close { top: -20px; }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#files-list").dataTable({
                "aoColumns": [{"sTitle": "Filename", "mData": "Filename"}],
                "sDom": "rt<'clear'>T",
                "oTableTools": {
                    "sRowSelect": "multi",
                    "aButtons": [ "select_all",
                                  "select_none",
                                  { "sExtends": "text",
                                    "sButtonText": "Remove selected",
                                    "fnClick": function() {
                                        $.ajax({
                                            method: 'get',
                                            url: '/delete/',
                                            data: {
                                                'filenames': _.map(files_list.selectedItems(),
                                                                function (element) { return element.Filename; })
                                            },
                                            dataType: "json",
                                            success: function(filenames) {
                                                files_list.items.removeAll();
                                                filenames.forEach(function(filename){
                                                    files_list.items.push({"Filename": filename})
                                                });
                                            }
                                        });
                                    }
                                  }
                                ],
                    "sSelectedClass": "selected",
                    "fnRowSelected": function (nodes) {
                        $(this.dom.table).trigger("selectionChanged");
                    },
                    "fnRowDeselected": function (nodes) {
                        $(this.dom.table).trigger("selectionChanged");
                    }
                },
                "oLanguage": {
                    "sEmptyTable": "No files added"
                },
                "bPaginate": false,
            });

            $("#pieces-list").dataTable({
                "aoColumns": [
                    {"sTitle": "Filename", "mData": "filename"},
                    {"sTitle": "Title", "mData": "title"},
                    {"sTitle": "Part Names", "mData": "partNames"},
                    {"sTitle": "Offset", "mData": "offset"},
                    {"sTitle": "Part Combinations", "mData": "partCombinations"},
                    {"sTitle": "Filter Identical", "mData": "repeatIdentical"}
                ],
                "sDom": "rt<'clear'>T",
                "oTableTools": {
                    "sRowSelect": "multi",
                    "aButtons": [ "select_all", "select_none" ],
                    "sSelectedClass": "selected",
                    "fnRowSelected": function (nodes) {
                        $(this.dom.table).trigger("selectionChanged");
                    },
                    "fnRowDeselected": function (nodes) {
                        $(this.dom.table).trigger("selectionChanged");
                    }
                },
                "oLanguage": {
                    "sEmptyTable": "Import pending..."
                },
                "bPaginate": false,
            });

            var wizard = new Wizard();
            var files_list = new ListOfFiles();
            var pieces_list = new ListOfPieces();

            ko.applyBindings(wizard, document.getElementById('wizard'));
            ko.applyBindings(files_list, document.getElementById('import'));
            ko.applyBindings(pieces_list, document.getElementById('analysis-settings'));

            // pre-populate the files list with whatever files are already uploaded
            $.ajax({
                method: 'get',
                url: '/upload/',
                success: function(filenames) {
                    files_list.items.removeAll();
                    filenames.forEach(function(filename){
                        files_list.items.push({"Filename": filename})
                    });
                }
            });

            // This function is called whenever the wizard's step is changed.
            $("#wizard").on('change', function (event, data) {
                // If we're on the first step, going to the next step...
                if (1 == data.step && 'next' == data.direction) {
                    // If there are files in the upload queue, we have to warn the user that they
                    // forgot to upload those files.
                    if (document.getElementById("fileUpload").files.length > 0) {
                        event.preventDefault();  // don't go to the next step
                        window.alert('Yikes!\n\nIt looks like you forgot to choose "Add to List" after selecting your files.');
                    }
                    // If there are no files in the upload queue, but also no files already uploaded
                    // to the server, that's still not good!
                    else if (files_list.items().length == 0) {
                        console.log(files_list.items());
                        event.preventDefault();  // don't go to the next step
                        window.alert('Yikes!\n\nPlease select and upload some files for analysis.');
                    }
                    // Otherwise, there are files uploaded to the server, and there's nothing in
                    // the upload queue, so we're good to go!
                    else {
                        switch (selectedItem(this)) {
                            case 1:
                                $.ajax({
                                    method: 'get',
                                    url: '/import',
                                    data: {
                                        'filenames': _.map(files_list.items(),
                                                function (element) { return element.Filename; })
                                    },
                                    dataType: "json",
                                    success: function (data, textStatus, jqXHR) {
                                        pieces_list.items.removeAll();
                                        data.forEach(function(item) {
                                            var piece = new Piece(item['Filename'], item['Title'], item['Part Names'], item['Offset'], item['Part Combinations'], item['Repeat Identical']);
                                            pieces_list.items.push(piece);
                                        });
                                    }
                                });
                                break;
                        }
                    }
                }
                else if (2 == data.step && 'next' == data.direction) { // from the second step going to the third
                    // Disable the button that allows downloading query settings, since a query
                    // won't yet have been run.
                    document.getElementById("btn-query_settings").disabled = true;
                }
            });

            $("#uploadForm").ajaxForm({ // "Import" step: "Upload" button
                success: function(filenames) {
                    files_list.items.removeAll();
                    filenames.forEach(function(filename) {
                        files_list.items.push({"Filename": filename})
                    });
                    // Clear the upload queue FileList
                    document.getElementById("fileUpload").value = '';
                }
            });

            $("#wizard").on('finished', function() { // this is the "visualize" button
                var output = $("input[name=outputRadio]:checked").val();
                var frequency = $("input[name=frequency]:checked").val();

                if (frequency == "momentByMoment" && (output == "table" ||
                                                      output == "graph" ||
                                                      output == "lilypond"))
                {
                    window.alert("You cannot choose '" + output + "' output with moment-by-moment. Sorry!");
                }
                else
                {
                    $.ajax({
                        method: 'get',
                        url: '/experiment',
                        data: {
                            'quality': $("input[name=qualityRadio]:checked").val(),
                            'octaves': $("input[name=octaveRadio]:checked").val(),
                            'updated_pieces': ko.toJSON(pieces_list.items()),
                            'experiment': $("input[name=objectsRadio]:checked").val(),
                            'n': $("#value-n").val(),
                            'topx': $("#topx").val(),
                            'threshold': $("#threshold").val(),
                            'output': $("input[name=outputRadio]:checked").val(),
                            'frequency': $("input[name=frequency]:checked").val()
                        },
                        dataType: "json",
                        async: false, // needed for chrome to open in new tab, for some reason
                        success: function(data) {
                            if (data['type'] == 'table')
                            {
                                window.open('/output/table/');
                            }
                            else if (data['type'] == 'graph')
                            {
                                window.open('/output/graph/');
                            }
                            else if (data['type'] == 'lilypond')
                            {
                                for (var i = 0; i < data['rendered_paths'].length; i++)
                                {
                                    window.open(data['rendered_paths'][i]);
                                }
                            }
                            else if (data['type'] == 'csv' || data['type'] == 'excel' || data['type'] == 'stata')
                            {
                                for (var i = 0; i < data['rendered_paths'].length; i++)
                                {
                                    window.open(data['rendered_paths'][i]);
                                }
                            }
                            // Enable the button that allows downloading query settings, since that
                            // now makes sense.
                            document.getElementById("btn-query_settings").disabled = false;
                        },
                    });
                }
            });
            
            Array.prototype.sameAs = function(array) {
                if (this.length != array.length) return false;
                for (var i=0; i<this.length; i++) {
                    if (this[i] != array[i]) return false;
                }
                return true;
            }
            
            Array.prototype.allValuesSame = function() {
                if (this.length > 1) {
                    if (this[0] instanceof Array) {
                        for (var i=0; i<this.length; i++) {
                            if (!this[i].sameAs(this[0])) {
                                return false;
                            }
                        }
                    } else {
                        for (var i=0; i<this.length; i++) {
                            if (this[i] !== this[0]) {
                                return false;
                            }
                        }
                    }
                }
                return true;
            }

            $('#loading-div')
                .hide()
                .ajaxStart(function() {
                    $(this).show();
                })
                .ajaxStop(function() {
                    $(this).hide();
                })
            ;

            $("input[name=objectsRadio]:radio").change(function(radio) {
                if($("#value-n").prop("disabled")==true) {
                    $("#value-n").prop("disabled", false);
                } else {
                    $("#value-n").prop("disabled", true);
                    $("#value-n").val("");
                }
            });

            $("#offset-div :input").change(function() {
                if ($("#offset-div :input").val() == "") {
                    $("#repeat-ident-div :checkbox").prop("checked", false);
                    $("#repeat-ident-div :checkbox").prop("disabled", true);
                } else {
                    $("#repeat-ident-div :checkbox").prop("disabled", false);
                }
            });
            
            $("#settings-selected-button").click(function() {
                var form = $("#settings-selected-form");
                var message = $("#select-one-message");
                if (pieces_list.selectedItems().length == 0) {
                    // no pieces selected; show error message
                    message.show();
                    form.hide();
                } else if (pieces_list.selectedItems().length == 1) {
                    // one piece selected; show all settings
                    var piece = pieces_list.selectedItems()[0];
                    message.hide();
                    form.find("#title-div :input").val(piece.title());
                    form.find("#offset-div :input").val(piece.offset());
                    form.find("#part-names-div").children(":input").remove();
                    form.find("#part-names-div").children("br").remove();
                    piece.partNames().forEach(function(partName) {
                        input = $('<input type="text" class="form-control">');
                        input.val(partName);
                        i = piece.partNames().indexOf(partName);
                        checkbox = $('<input type="checkbox" value="'+i+'"><br>');
                        form.find("#part-names-div").append(input);
                        form.find("#part-names-div").append(checkbox);
                    });
                    // form.find("#part-comb-div :input").val(piece.partCombinations());
                    form.find("#repeat-ident-div :checkbox").prop("checked", piece.repeatIdentical());
                    form.show().children().show();
                } else {
                    // multiple pieces selected; show intersection of settings
                    var pieces = pieces_list.selectedItems();
                    var allNumbersOfParts = new Array();
                    var allPartNames = new Array();
                    var allOffsets = new Array();
                    var allPartCombinations = new Array();
                    var allRepeatIdents = new Array();
                    var hideElements = new Array();
                    var showElements = new Array();
                    pieces.forEach(function(piece) {
                        allNumbersOfParts.push(piece.partNames().length);
                        allPartNames.push(piece.partNames());
                        allOffsets.push(piece.offset());
                        allPartCombinations.push(piece.partCombinations());
                        allRepeatIdents.push(piece.repeatIdentical());
                    });
                    
                    // hide title when multiple pieces
                    hideElements.push(form.find("#title-div"));
                    
                    // if all selected have same number of parts, allow editing
                    // names of parts collectively
                    form.find("#part-names-div").children(":input").remove();
                    form.find("#part-names-div").children("br").remove()
                    if (allNumbersOfParts.allValuesSame()) {
                        // if the part names are the same for all pieces, show those names
                        
                        if (allPartNames.allValuesSame()) {
                            for (var i=0; i<allNumbersOfParts[0]; i++) {
                                input = $('<input type="text" class="form-control">');
                                input.val(allPartNames[0][i]);
                                form.find("#part-names-div").append(input);
                                checkbox = $('<input type="checkbox" value="'+i+'"><br>');
                                form.find("#part-names-div").append(checkbox);
                            }
                        // if the part names aren't the same, call them "part i"
                        } else {
                            for (var i=0; i<allNumbersOfParts[0]; i++) {
                                input = $('<input type="text" class="form-control">');
                                input.val("Part " + i);
                                form.find("#part-names-div").append(input);
                                checkbox = $('<input type="checkbox" value="'+i+'"><br>');
                                form.find("#part-names-div").append(checkbox);
                            }
                        }
                        showElements.push(form.find("#part-names-div"));
                    } else {
                        hideElements.push(form.find("#part-names-div"));
                    }
                    
                    if (allOffsets.allValuesSame()) {
                        form.find("#offset-div :input").val(allOffsets[0]);
                        showElements.push(form.find("#offset-div"));
                    } else {
                        hideElements.push(form.find("#offset-div"));
                    }
                    
                    if (allPartCombinations.allValuesSame()) {
                        form.find("#part-comb-div :input").val(allPartCombinations[0]);
                        showElements.push(form.find("#part-comb-div"));
                    } else {
                        hideElements.push(form.find("#part-comb-div"));
                    }
                    
                    if (allRepeatIdents.allValuesSame()) {
                        form.find("#repeat-ident-div :input").val(allRepeatIdents[0]);
                        showElements.push(form.find("#repeat-ident-div"));
                    } else {
                        hideElements.push(form.find("#repeat-ident-div"));
                    }
                    
                    // hide and show appropriate form elements
                    showElements.forEach(function(element) {
                        element.show();
                    });
                    hideElements.forEach(function(element) {
                        element.hide();
                    });
                    message.hide();
                    form.show();
                }
                $("#settings-selected").modal("show");
            });
            
            $("#add-combo-button").click(function() {
                var partCombo = new Array();
                $("#part-names-div :checkbox").each(function(index, checkbox) {
                    if ($(checkbox).prop("checked")) {
                        partCombo.push(+checkbox.value);
                        $(checkbox).prop("checked", false);
                    }
                });
                if (partCombo.length<2) {
                    window.alert("Please select 2 or more parts.");
                } else {
                    var existingParts = $("#part-comb-div :input").val();
                    if (existingParts.charAt(0)=="[") {
                        existingParts = JSON.parse(existingParts);
                    } else {
                        existingParts = [];
                    }
                    existingParts.push(partCombo);
                    existingParts = JSON.stringify(existingParts);
                    $("#part-comb-div :input").val(existingParts);
                }
            });
            
            $("#add-all-button").click(function() {
                $("#part-comb-div :input").val("all");
            });
            
            $("#add-pairs-button").click(function() {
                $("#part-comb-div :input").val("all pairs");
            });
            
            $("#settings-selected-save-button").click(function() {
                var form = $("#settings-selected-form");
                pieces_list.selectedItems().forEach(function(piece) {
                    if ($("#title-div").is(":visible")) {
                        piece.title($("#title-div :input").val());
                    }
                    if ($("#offset-div").is(":visible")) {
                        piece.offset($("#offset-div :input").val());
                    }
                    if ($("#part-comb-div").is(":visible")) {
                        piece.partCombinations($("#part-comb-div :input").val());
                    }
                    if ($("#repeat-ident-div").is(":visible")) {
                        piece.repeatIdentical($("#repeat-ident-div :checkbox").prop("checked"));
                    }
                    var partNameInputs = $("#part-names-div :text");
                    // Update part name only if it's been changed (no longer 'Part i')
                    for (var i=0; i<partNameInputs.length; i++) {
                        var partName = $(partNameInputs[i]).val();
                        if (partName!="Part "+i) {
                            piece.partNames.splice(i, 1, partName);
                        }
                    }
                });
                $("#settings-selected").modal("hide");
            });

            // This function checks that all the files selected for upload are (potentially) valid
            // and importable by music21. Importantly, it does so after the files are selected but
            // before they are uploaded.
            document.getElementById("fileUpload").addEventListener("change", verifyFiles, false);
            function verifyFiles() {
                var validExtensions = ['mei', 'xml', 'zip', 'mxl', 'capx', 'zip', 'krn', 'md',
                                       'nwctxt', 'abc', 'nwc', 'mid', 'midi'];
                var fileList = this.files;
                var invalidIndices = [];  // collect the indices corresponding to invalid files in "fileList"
                var warnedIndices = [];  // collect indices with a proper extension but missing MIME
                                       // type, or ambiguous file extension

                for (var i = 0; i < fileList.length; i++) {
                    mimeType = fileList[i].type;
                    extension = fileList[i].name.split('.');
                    extension = extension[extension.length - 1];

                    // Check that the file is less large the 30 million bytes (about 30 MB)
                    if (fileList[i].size > 30000000) {
                        invalidIndices.push(i);
                    }

                    // Check that the MIME type and extension match
                    switch (mimeType) {
                        case 'application/xml':
                            // MusicXML or MEI
                            if (extension != 'mei' && extension != 'xml') {
                                invalidIndices.push(i);
                            }
                            break;
                        case 'application/zip':
                            // compressed MusicXML, MuseData, or capella
                            if (extension == 'zip') {
                                warnedIndices.push(i);  // probably MuseData, according to music21...
                            }
                            else if (extension != 'mxl' && extension != 'capx') {
                                invalidIndices.push(i);
                            }
                            break;
                        case 'text/plain':
                            // **kern, MuseData, NWCTXT, or abc
                            if (extension != 'krn' && extension != 'md' && extension != 'nwctxt' &&
                                extension != 'abc') {
                                invalidIndices.push(i);
                            }
                            break;
                        case 'application/octet-stream':
                            // NoteWorthyComposer binary
                            if (extension != 'nwc') {
                                invalidIndices.push(i);
                            }
                            break;
                        case 'audio/midi':
                            // we have full detection already, so don't check file extension
                            break;
                        default:
                            // If the extension is supported by music21, we'll let the user try to
                            // upload their file, but we'll still tell them that (because the MIME
                            // type doesn't match) we think it will fail.
                            if (validExtensions.indexOf(extension) > -1) {
                                warnedIndices.push(i);
                            }
                            else {
                                invalidIndices.push(i);
                            }
                    }
                }

                var uploadErrBox = document.getElementById('upload-error')
                var uploadWarnBox = document.getElementById('upload-warning')
                uploadErrBox.style.display = 'none';
                uploadWarnBox.style.display = 'none';
                if (invalidIndices.length > 0) {
                    // Produce a warning so the user knows whether their files are being removed.
                    // Unfortunately, there's no (easy?) way to remove only *some* of the files.
                    alertMsg = '<strong>File Validation Error</strong><br/>The following files are not supported by music21, or they are too large. Please select your files again.<ul>';
                    for (var i of invalidIndices) {
                        alertMsg = alertMsg + '<li>' + fileList[i].name + '</li>';
                    }
                    alertMsg = alertMsg + '</ul><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>';

                    // push the error to the error box
                    uploadErrBox.style.display = 'block';
                    uploadErrBox.innerHTML = alertMsg;

                    // clear the FileList
                    this.value = '';
                }
                else if (warnedIndices.length > 0) {
                    // Produce a warning so the user knows whether their files are likely to fail.
                    alertMsg = '<strong>File Validation Warning</strong><br/>These files have supported extensions, but your browser detects an invalid type. If your analysis fails, ensure these files are supported by music21.<ul>';
                    for (var i of warnedIndices) {
                        alertMsg = alertMsg + '<li>' + fileList[i].name + '</li>';
                    }
                    alertMsg = alertMsg + '</ul><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>';

                    // push the error to the warning box
                    uploadWarnBox.style.display = 'block';
                    uploadWarnBox.innerHTML = alertMsg;
                }
            }

            // This is the button that lets users download the query settings.
            $("#btn-query_settings").click(function() {
                $.ajax({
                        method: 'get',
                        url: '/output/settings/',
                        dataType: 'json',
                        // async: false, // needed for chrome to open in new tab, for some reason
                        success: function(data) {
                                window.open(data['settings file']);
                            },
                    });
            });
        });
    </script>
    <style>
        img.step-img {
            max-height: 80%;
            padding-bottom: 5px;
            padding-right: 5px;
        }
        .fuelux .step-content tr.active {
            display: table-row;
        }
    </style>
{% endblock %}
{% block title %}
    Counterpoint Web App
{% endblock %}
{% block content %}
    <div id="loading-div">
        <div class="preloader"><i></i><i></i><i></i><i></i></div>
    </div>
    <div class="navbar navbar-default">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
                <a href="http://elvisproject.ca/">ELVIS Project</a>
              </li>
              <li>
                <a href="https://github.com/ELVIS-Project/web-vis/">Counterpoint Web App {{ settings.CWA_VERSION }}</a>
              </li>
              <li>
                <a href="https://github.com/ELVIS-Project/vis/">VIS Framework {{ settings.VIS_VERSION }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class='container'>
        <div class='row'>
            <div class='span2'></div>
            <div class='span12'>
                <div id="wizard" class="wizard" data-bind="wizardStep: state">
                    <ul class="steps">
                        <li data-target="#import" class="active">
                            Import
                        </li>
                        <li data-target="#analysis-settings">
                            Analysis Settings
                        </li>
                        <li data-target="#experiment-settings">
                            Experiment Settings
                        </li>
                    </ul>
                    <div class="actions">
                        <button type="button"
                                class="btn btn-next"
                                data-last="Visualize">
                            Next<i class="icon-arrow-right"></i></button>
                    </div>
                </div>
                <div class="step-content">
                    <div class="step-pane active" id="import">
                        <div class="well">
                            <div class="content-title">File Import List</div>
                            <!-- NB: the following two error things are 'display: none' by default,
                                 so they only show up when there is a warning or error -->
                            <!-- Error for when file extensions and types don't work. -->
                            <div class="alert alert-danger alert-dismissible upload-error"
                                 id="upload-error" role="alert">
                                <!-- Anything you put here is replaced above, by verifyFiles() -->
                            </div>
                            <!-- Warning for when file extensions work, but types don't. -->
                            <div class="alert alert-warning alert-dismissible upload-warning"
                                 id="upload-warning" role="alert">
                                <!-- Anything you put here is replaced above, by verifyFiles() -->
                            </div>

                            <form action="upload/" method="post" enctype="multipart/form-data" id="uploadForm">
                                {% csrf_token %}
                                <input id="fileUpload" type="file" multiple="multiple" name="files" accept=".krn,.mid,.midi,.xml,.mxl,.mei,.nwc,.md" />
                                <input type="submit" value="Add to List" />
                            </form>
                            <table data-bind="tableData: items"
                                   class="table display datatable"
                                   id="files-list">
                                <tbody data-bind="selectedRows: selectedItems">
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="step-pane" id="analysis-settings">
                        <div class="well">
                            <div class="content-title">Select pieces and choose settings for analysis.</div>
                            <a data-toggle="modal" href="#settings-all" class="analysis-settings-btn btn">
                                <i class="icon-ok"></i>
                                Global Settings
                            </a>
                            <a data-toggle="modal" href="#" id="settings-selected-button" class="analysis-settings-btn btn">
                                <i class="icon-ok"></i>
                                Settings for Selected
                            </a>
                            <div class="modal fade" 
                                 id="settings-all"
                                 tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="label"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content"> 
                                        <div class="modal-header">
                                            <button type="button"
                                                    class="close"
                                                    data-dismiss="modal"
                                                    aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title">
                                                Global settings
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            <h5> Interval Quality </h5>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio"
                                                           name="qualityRadio"
                                                           value="display"
                                                           checked />
                                                    Display
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio"
                                                           name="qualityRadio"
                                                           value="ignore" />
                                                    Ignore
                                                </label>
                                            </div>
                                            <h5> Octaves </h5>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio"
                                                           name="octaveRadio"
                                                           value="compound"
                                                           checked />
                                                    Compound
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio"
                                                           name="octaveRadio"
                                                           value="simple" />
                                                    Simple
                                                </label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                    class="btn bn-default"
                                                    data-dismiss="modal">
                                                Done
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" 
                                 id="settings-selected"
                                 tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="label"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content"> 
                                        <div class="modal-header">
                                            <button type="button"
                                                    class="close"
                                                    data-dismiss="modal"
                                                    aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title">
                                                Settings for selected piece(s)
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            <h5 id="select-one-message">Please select at least one piece</h5>
                                            <form role="form"
                                                  id="settings-selected-form">
                                                <div class="form-group"
                                                     id="title-div">
                                                    <label for="pieceTitle">Piece Title</label>
                                                    <input type="text" class="form-control" />
                                                </div>
                                                <div class="form-group"
                                                     id="part-names-div">
                                                    <label for="partNames">Part Names</label>
                                                </div>
                                                <button type="button" class="btn btn-primary" id="add-combo-button">Add part combination</button>
                                                <button type="button" class="btn btn-primary" id="add-all-button">Add all parts</button>
                                                <button type="button" class="btn btn-primary" id="add-pairs-button">Add all pairs</button>
                                                <br><br>
                                                <div class="form-group"
                                                     id="part-comb-div">
                                                    <label for="partCombinations">Part Combinations</label>
                                                    <input type="text" class="form-control" placeholder="(none selected)" />
                                                </div>
                                                <div class="form-group"
                                                     id="offset-div">
                                                    <label for="offsetInterval">Offset Interval</label>
                                                    <input type="text" class="form-control" placeholder="(optional)" />
                                                </div>
                                                <div class="form-group"
                                                     id="repeat-ident-div">
                                                    <label>
                                                        <input type="checkbox" disabled> Filter Consecutive Identical Events
                                                    </label>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button"
                                                    class="btn bn-default"
                                                    data-dismiss="modal">
                                                Cancel
                                            </button>
                                            <button type="button"
                                                    class="btn bn-default"
                                                    id="settings-selected-save-button">
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <table data-bind="tableData: items"
                                   class="table display datatable"
                                   id="pieces-list">
                                <tbody data-bind="selectedRows: selectedItems">
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="step-pane" id="experiment-settings">
                        <div class="well">
                        <div class="content-title">Choose settings for the experiment.</div>
                            <form role="form">
                                <h4>Experiment to Run</h4>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="objectsRadio" value="intervals" checked>
                                        Intervals
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="objectsRadio" value="interval-n-grams">
                                        Interval <span style="font-style: italic">n</span>-grams
                                    </label>
                                    <input type="text" id="value-n" class="form-control" disabled placeholder="value of n">
                                    <span class="help-inline">
                                        The length of the <span style="font-style: italic">n</span>-gram you wish to produce.
                                    </span>
                                </div>

                                <h4>How to Show Results</h4>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="outputRadio" value="table" checked>
                                        Table
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="outputRadio" value="graph">
                                        Bar Graph
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="outputRadio" value="lilypond">
                                        Annotated Score
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="outputRadio" value="csv">
                                        CSV File
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="outputRadio" value="excel">
                                        &ldquo;Excel&rdquo; Spreadsheet
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="outputRadio" value="stata">
                                        Stata File
                                    </label>
                                </div>

                                <h4>Filters</h4>
                                <div class="form-group">
                                    <label for="topx">&ldquo;Top <span style="font-style: italic">X</span>&rdquo;</label>
                                    <input type="text" id="topx" class="form-control" placeholder="(optional)">
                                    <span class="help-inline">
                                        Show only the highest <span style="font-style: italic">x</span> results.
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label for="threshold">Threshold</label>
                                    <input type="text" id="threshold" class="form-control" placeholder="(optional)">
                                    <span class="help-inline">
                                        Do not show results with fewer than this many occurences.
                                    </span>
                                </div>

                                <h4>Moment-by-Moment Output</h4>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="frequency" value="countFrequency" checked>
                                        Count Object Frequency (Number of Occurrences)
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="frequency" value="momentByMoment">
                                        Moment-by-Moment Output
                                    </label>
                                </div>

                                <h4>Query Settings</h4>
                                After you visualize some results, you may download a text file with all the settings:<br/>
                                <button disabled="true" type="button" name="querySettings" id="btn-query_settings">Download</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class='span2'></div>
        </div>
    </div>
{% endblock %}
